body {
    background-image: url(https://images8.alphacoders.com/293/thumb-1920-293495.jpg);
   } 

   input, textarea {

    background-color : black;
  
  }

body * h1, p, button, label, form  {
  color: #ffe6ff;
       text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
       -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
       0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
}

form>a, input  {
  color: #ffe6ff;
       text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
       -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
       0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
       
}

form>select  {
  color: black;
}

ul {
  list-style-type: none;
}

.sign2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #2f2100,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 20%;
  font-family: "roboto";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  pointer-events:none;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
  -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
  0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
  animation: shine 2s forwards, flicker 3s infinite;
}

   
   .sign {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 50%;
     background-image: radial-gradient(
       ellipse 50% 35% at 50% 50%,
       #2f2100,
       transparent
     );
     transform: translate(-50%, -50%);
     letter-spacing: 2;
     left: 50%;
     top: 50%;
     font-family: "roboto";
     text-transform: uppercase;
     font-size: 6em;
     color: #ffe6ff;
     text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
     -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
     0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
     animation: shine 2s forwards, flicker 3s infinite;
   }
   
   @keyframes blink {
     0%,
     22%,
     36%,
     75% {
       color: #ffe6ff;
       text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
         -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
         0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
     }
     28%,
     33% {
       color: transparent;
       text-shadow: none;
     }
     82%,
     97% {
       color: transparent;
       text-shadow: none;
     }
   }
   
   .flicker {
     animation: shine 2s forwards, blink 2.4s 2s infinite;
   }
   
   .fast-flicker {
     animation: shine 2s forwards, blink 3.3s 1s infinite;
   }
   
   @keyframes shine {
     0% {
       color: transparent;
       text-shadow: none;
     }
     100% {
       color: #ffe6ff;
       text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #c18803,
       -0.2rem 0.1rem 1rem #c79201, 0.2rem 0.1rem 1rem #c7920a,
       0 -0.5rem 2rem #ffb300, 0 0.5rem 3rem #deba07;
     }
   }
   
   @keyframes flicker {
     from {
       opacity: 1;
     }
   
     4% {
       opacity: 0.9;
     }
   
     6% {
       opacity: 0.85;
     }
   
     8% {
       opacity: 0.95;
     }
   
     10% {
       opacity: 0.9;
     }
   
     11% {
       opacity: 0.922;
     }
   
     12% {
       opacity: 0.9;
     }
   
     14% {
       opacity: 0.95;
     }
   
     16% {
       opacity: 0.98;
     }
   
     17% {
       opacity: 0.9;
     }
   
     19% {
       opacity: 0.93;
     }
   
     20% {
       opacity: 0.99;
     }
   
     24% {
       opacity: 1;
     }
   
     26% {
       opacity: 0.94;
     }
   
     28% {
       opacity: 0.98;
     }
   
     37% {
       opacity: 0.93;
     }
   
     38% {
       opacity: 0.5;
     }
   
     39% {
       opacity: 0.96;
     }
   
     42% {
       opacity: 1;
     }
   
     44% {
       opacity: 0.97;
     }
   
     46% {
       opacity: 0.94;
     }
   
     56% {
       opacity: 0.9;
     }
   
     58% {
       opacity: 0.9;
     }
   
     60% {
       opacity: 0.99;
     }
   
     68% {
       opacity: 1;
     }
   
     70% {
       opacity: 0.9;
     }
   
     72% {
       opacity: 0.95;
     }
   
     93% {
       opacity: 0.93;
     }
   
     95% {
       opacity: 0.95;
     }
   
     97% {
       opacity: 0.93;
     }
   
     to {
       opacity: 1;
     }
   }
   